@import url('../CSS/main.css');

.header{
    background-image: url('../Images/Home/home_background.webp');
    background-size: cover;
}

header a:hover{
    font-size: larger;
    transition:font-size,.75s;
}
/****************************************************************/
.projects img{
    width:300px;
    height:300px;
    cursor: pointer;
    transition: width 0.3s, height 0.3s;
}

.projects img:hover{
    width:310px;
    height: 310px;
}


/******************************************************/
/* The Modal (background) */
.myFeatureModal {
    background-color:rgb(0,0,0,0.3);
        height:100%;
        width:100%;
        position: fixed;
        top:0;
        left: 0;
        display: flex; /*the content of this modal will be in the center of the div*/
        align-items: center;
        justify-content: center;
        z-index: 1; /* Sit on top */
        display: none; /* Hidden by default */
        z-index: 1; /* Sit on top */
        overflow: auto; /* Enable scroll if needed */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height:90%;

  }


.modal-content .img img {
        width: 75%; /* makes the image fill the width of the container */
        max-height: 75vh;   
        height: auto;  

    }
.modal-content .img {
        padding: 20px 40px;
        margin:5px;
        border-radius:20px;
        box-shadow:0 4px 4px rgba(0,0,0,.1);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    top:10;
    left: 20;
  }

  .left-button{
    left:10px;
    top:50%;
}

.right-button{
    right:10px;
    top:50%;
}

  .right-button, .left-button{
        position:absolute;
        color:rgb(255, 255, 255);
        font-size:20px;
        background-color: rgba(0,0,0,.2);
        border-radius: 5px;
        padding:5px;
        cursor: pointer;
}
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  @media (max-width: 400px) {
    .modal-content{
        width:90%;
    }
    .modal{
        padding:70px 0px;
    }
}