@model String

<h1> Welcom @Model</h1>
<a asp-action="SDetails" asp-controller="Student"> View Details</a>
<br />
<a asp-action="Logout">Logout</a>
<br />
<a asp-action="ChangePassword">Change Password</a>