@model string

<h1>Welcome @Model </h1>
<a asp-action="UserDetails"asp-controller="user">View user details </a>
<br/>
<a asp-action="BuyPieces" asp-controller="user">Buy List </a>
<br />
<a asp-action="Logout" asp-controller="user">Logout</a>
<br/>



