@model User


<style>

</style>

<div class="text-center">
    <h2>Show the Library</h2>
    <p>
        This project was developed by Hasan Abu mehsin,Mohammed alamer and Mohammed Daraghmeh for the Web Programming course at Arab American University. It utilizes ASP.NET MVC 6 with a Microsoft SQL Server database as the backend.

        In the future, we plan to enhance the project by integrating ReactJS for the frontend, combining it with the existing MVC architecture for a more dynamic and modern user experience.

        Feel free to explore the additional pages via the navigation bar.

        Thank you for your time, and we hope you enjoy exploring our project!
    </p>
</div>
