html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


body {
    text-align:center;
}
button{
    margin-top:1%;
}

a{
    color:dimgray;
    text-decoration:none;
}